#########################################
## Let's keep the private key private :-)
#########################################

*.pem

#########################################
## packed plugins
#########################################

*.crx