/*
 * cv-pls Helper Extension input element styles
 */

/**
* @section button
*/

button:not(.custom-appearance),
input[type='button']:not(.custom-appearance),
input[type='submit']:not(.custom-appearance) {
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    border: 1px solid #aaa;
    color: #444;
    font-size: inherit;
    margin-bottom: 0;
    min-width: 4em;
    padding: 3px 12px;
}

button:not(.custom-appearance):hover,
input[type='button']:not(.custom-appearance):hover,
input[type='submit']:not(.custom-appearance):hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    border-color: #999;
    color: #222;
}

button:not(.custom-appearance):active,
input[type='button']:not(.custom-appearance):active,
input[type='submit']:not(.custom-appearance):active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    color: #333;
}

button[disabled]:not(.custom-appearance),
input[type='button'][disabled]:not(.custom-appearance),
input[type='submit'][disabled]:not(.custom-appearance),
button[disabled]:not(.custom-appearance):hover,
input[type='button'][disabled]:not(.custom-appearance):hover,
input[type='submit'][disabled]:not(.custom-appearance):hover {
    -webkit-box-shadow: none;
    background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
    border-color: #aaa;
    color: #888;
}

button:not(.custom-appearance):focus,
input[type='submit']:not(.custom-appearance):focus,
input[type='text']:not(.custom-appearance):focus,
select:not(.custom-appearance):focus {
    -webkit-box-shadow: inset 0 1px 2px white,
    0 1px 2px rgba(0, 0, 0, .2),
    0 0 1px #c0c0c0,
    0 0 1px #c0c0c0,
    0 0 1px #c0c0c0;
    -webkit-transition: border-color 200ms;
    /* We use border color because it follows the border radius (unlike outline).
* This is particularly noticeable on mac. */
    border-color: #4080fa;
    outline: none;
}


/**
 * @section checkbox and radio
 */

input[type="checkbox"]:not(:disabled):not(:active):hover {
    background: -webkit-linear-gradient(white, #E6E6E6);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

input[type="checkbox"] {
    -webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-appearance: none;
    -webkit-margin-start: 0;
    -webkit-margin-end: 3px;
    background: -webkit-linear-gradient(#FAFAFA, gainsboro);
    border-radius: 3px;
    border: 1px solid #A0A0A0;
    display: inline-block;
    height: 16px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    top: 3px;
    vertical-align: baseline;
    width: 16px;
}

input[type="checkbox"]:disabled {
    background: -webkit-linear-gradient(#FFFFFF, #FAFAFA);
}

input[type="checkbox"]:checked::before {
    color: gray;
    content: url('../img/checkmark.png');
    font-size: 13px;
    height: 16px;
    left: 2px;
    position: absolute;
}

input[type="radio"] ~ span, input[type="checkbox"] ~ span, input[type="text"] ~ span, label span {
    color: #444;
}
label span.disabled {
    color: #AAA;
}

/**
 * @section text
 */

input[type="password"], input[type="text"], input[type="url"], input:not([type]) {
    -webkit-border-radius: 2px;
    border: 1px solid #AAA;
    font-size: inherit;
    padding: 3px;
}

/**
 * @section select
 */

select {
    -webkit-appearance: button;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 8px;
    -webkit-user-select: none;
    background-image: url("../img/select.png"), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

select:disabled {
    color: graytext;
    background-image: url("../img/disabled_select.png"), -webkit-linear-gradient(#FEFEFE, #F8F8F8 40%, #E9E9E9);
}

select:enabled:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-image: url("../img/select.png"), -webkit-linear-gradient(#FEFEFE, #F8F8F8 40%, #E9E9E9);
    color: #333;
}
