body {
  min-width: 260px;
}

.version {
  margin: 16px 4px 4px;
  padding: 4px 0 0;
  font-size: 10px;
  color: #555555;
  text-align: right;
}

#versionTable {
  border-spacing: 0;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

h3 {
  line-height: 2em;
  font-size: 105%;
  font-weight: bold;
  margin: 0;
}

#customOneBoxGroup {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#customOneBoxGroup > :last-child {
  -webkit-margin-start: 1ex;
  -webkit-box-flex: 1;
  position: relative;
}

input[name="oneBoxHeight"] {
  box-sizing: border-box;
  padding-top: 3px;
  text-align: right;
  width: 40px;
}

input[name=oneboxheightunits] {
  display: block;
  -webkit-box-flex: 1;
  max-width: 200px;
}

div.checkbox, div.radio {
  margin: 5px 0;
}

#closeButton {
  background: url('../img/close-button.png') no-repeat 4px 0;
  top: 2px;
  right: 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
}

#closeButton:hover {
  background-position: 4px -28px;
}